# Useless files
.vscode/
game/cache/
game/saves/
game/mod_assets/scripts/.vscode/
game/cache/shaders.txt
log.txt
traceback.txt
errors.txt
error.txt
android.json
android.keystore
bundle.keystore
project.json
*.pyc
*.rpyc
*.rpyb
*.rpym
*.rpymc
*.save